@keyframes colors {
	0% {
		border-color: red;
	}
	16% {
		border-color: orange;
	}
	32% {
		border-color: yellow;
	}
	48% {
		border-color: green;
	}
	64% {
		border-color: blue;
	}
	80% {
		border-color: indigo;
	}
	100% {
		border-color: violet;
	}
}

canvas {
	border: 10px solid red;
	padding: 0px;
	margin: 0px;
	animation-name: colors;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}
